<div class="container" ng-init="carregarClientes()">
    <h1>LISTA DE CLIENTES</h1>

    <div class="filter" style="display:none">
        <input type="text"/>
    </div>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>NOME</th>
                <th>CPF</th>
                <th>NASCIMENTO</th>
                <th>TELEFONE</th>
                <th style="width:150px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cliente in clientes">
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.nascimento}}</td>
                <td>{{cliente.telefone}}</td>
                <td>
                    <a ng-href="#clientes/{{cliente.outerId}}" class="btn btn-success">Editar</a>
                    <button ng-click="deletarCliente(cliente.outerId)" style="margin-left:3px;" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table> 
    <a ng-href="#genre" class="btn btn-success">Novo</a>
</div>